/*@import "./global.css";*/

.label-new-line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.pizzas{
    display: flex;
}

.ghost-image{
    height: 100px;
    width: 100px;
    background-color: brown;
    padding: 0;
    margin: 0;
    border: 0;
}